body {
  background-color: #D7BEE6;
  color: #eeeeee;
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px;
  background-color: #BC6EEB; 
  text-align: center;
}

.content {
  color: #030303;
  display: flex;
  padding: 15px;
}

.thumbnail {
  max-width: 200px;
  max-height: 200px;
  margin: 2% 10%;
}

.header span {
  font-size: 0.6em;
  color: #dddddf;
}